

<div class="container text-center mt-1 mb-1">
    <div class="d-flex justify-content-end mb-3">
    <mat-form-field class="mt-3 mb-3">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
    </div>
    <h4> Here, please choose to activate or deactivate the users. Activation will trigger the Baseline questionnaire.</h4>
    
    
    <table class="table table-striped mt-5 mb-2">
        <thead>
            <tr>
                <th>Source </th>
                <th>User Name </th>
                <th>Name </th>
                <th> Phone </th>
                <th>Email</th>
                <th>Called</th>
                <th>Activation </th>
                <th>Comment for Deactivation </th>
                <th>Deactivate </th>
                <!--<th>Delete Participant</th>-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredPatients">
                <ng-container *ngIf="user.activeStatus == null ">
                <td>{{user.navId}}</td>
                <td>{{user.patientId}} </td>
                <td> {{user.firstname}} {{ user.lastname }}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>
                  <mat-checkbox 
                    [(ngModel)]="user.consented" 
                    (change)="calledSubmit(user)" 
                    [ngStyle]="{ 'color': user.consented ? 'green' : '' }">
                  </mat-checkbox>
                </td>
                <!--<td>
                    <mat-radio-group [(ngModel)]="user.consented" (change)="calledSubmit(user)">
                      <mat-radio-button value="true">Yes</mat-radio-button>
                      <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>
                </td>-->
                <td><button [disabled]="user.consented === null" flat-raised class="btn btn-sm btn-success mx-1" (click)="activateBaseline(user)"> Activate Baseline</button>
                </td>
              
          <td colspan="1">
            <form #form="ngForm">
            <input type="text"  name="reason" placeholder="Enter reason for deactivation" class="form-control" ngModel />
          </form>
          </td>
          <td><button [disabled]="user.consented === null" flat-raised class="btn btn-sm btn-danger mx-1" (click)="deactivatePatient(user, form.value.reason)"> Deactivate Patient</button></td>
        
          <!--<td><button flat-raised class="btn btn-sm btn-danger mx-1" (click)="deletePatient(user)"> Delete Patient</button></td>-->
                </ng-container>
              </tr>
        </tbody>
    </table> 
    </div>









                <!--<td><button [disabled]="user.activeStatus !== null || user.consented == null " flat-raised class="btn btn-sm btn-success mx-1" (click)="activateBaseline(user)"> Activate Baseline</button>
                
          </td>
                
                <td><button [disabled]="user.called" mat-raised-button class="hover-class" (click)="calledSubmit(user)"> Yes </button>
                    
              </td>
              <td><button [disabled]="user.activeStatus !== null || !user.called " flat-raised class="btn btn-sm btn-success mx-1" (click)="activateBaseline(user)"> Activate Baseline</button>
                
          </td>
          <td colspan="1">
            <form #form="ngForm">
            <input type="text"  name="reason" placeholder="Enter reason for deactivation" class="form-control" ngModel />
          </form>
          </td>
          <td><button [disabled]="!user.called" flat-raised class="btn btn-sm btn-danger mx-1" (click)="deactivatePatient(user, form.value.reason)"> Deactivate Patient</button></td>
        
                </ng-container>
              </tr>
        </tbody>
    </table> 
    </div>-->
    
    















    