<div class="container text-center mt-1 mb-1">
    <div class="d-flex justify-content-end mb-3">
    <mat-form-field class="mt-3 mb-3">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
    </div>
    <h4> This page shows inactive users and reason for deactivation.</h4>
    
    
    <table class="table table-striped mt-5 mb-2">
        <thead>
            <tr>
                <th>Study Id </th>
                <th>User Name </th>
                <th>Name </th>
                <th> Phone </th>
                <th>Email</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredPatients">
                <ng-container *ngIf="user.activeStatus === 'Inactive' || user.activeStatus === 'no'">
                <td>{{user.navId}}</td>
                <td>{{user.patientId}} </td>
                <td> {{user.firstname}} {{ user.lastname }}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>{{user.deactivationComment}}</td>
                </ng-container>
              </tr>
        </tbody>
    </table> 
    </div>
