.hover-class:hover {
    background-color: greenyellow;
  }
  
  .bg-light-green {
    background-color: #95eba9; /* Light green background */
    color: #155724; /* Dark green text (optional, can remove this if not needed) */
  }