<div class="container text-center mt-1 mb-1">
  <div class="d-flex justify-content-end mb-3">
  <mat-form-field class="mt-3 mb-3">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search">
  </mat-form-field>
  </div>
  <h4> This page shows active users that have been found to be eligible.</h4> 
  <br><br>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Source</th>
            <th>User Name </th>
            <th>Name </th>
            <th> Phone </th>
            <th>Email</th>
            <th>Baseline</th>
            <th>F1 </th>
            <th>F2</th>
            <th>F3 </th>
            <th>RCT Arm </th>
           <th >Actions </th>
           

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of filteredPatients" >
          <ng-container *ngIf="user.activeStatus === 'active' || user.activeStatus === 'yes'">
            <td>{{user.navId}}</td>
            <td>{{user.patientId}} </td>
            <td> {{user.firstname}} {{ user.lastname }}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
      <!-- Conditional Rendering based on activation or deactivation status -->
      
      <!-- Conditional Rendering for Baseline -->
      <td [ngClass]="{'bg-light-green': user.baselineCompleted}">
        <!-- If baselineCompleted is available, show it with a checkmark -->
        <ng-container *ngIf="user.baselineCompleted; else showBaselineActivated">
          {{ user.baselineCompleted | date }}
          <span class="text-success ml-1" style="display: inline;">✔</span>
        </ng-container>

        <!-- Else show baselineActivated with a pending marker -->
        <ng-template #showBaselineActivated>
          {{ user.baselineActivated | date }}
          <mat-icon class="text-warning ml-1" style="display: inline;" >schedule</mat-icon>
        </ng-template>
      </td>



  <td [ngClass]="{'bg-light-green': user.follwoup1Completed}">
        <!-- If baselineCompleted is available, show it with a checkmark -->
        <ng-container *ngIf="user.follwoup1Completed; else showFollowup1Date">
          {{ user.follwoup1Completed | date }}
          <span class="text-success ml-1" style="display: inline;">✔</span>
        </ng-container>

        <!-- Else show baselineActivated with a pending marker -->
        <ng-template #showFollowup1Date>
          {{ user.follwoup1Date | date }}
          <mat-icon class="text-warning ml-1" style="display: inline;">schedule</mat-icon>
        </ng-template>
      </td>

      <td [ngClass]="{'bg-light-green': user.follwoup2Completed}">
        <!-- If baselineCompleted is available, show it with a checkmark -->
        <ng-container *ngIf="user.follwoup2Completed; else showFollowup2Date">
          {{ user.follwoup2Completed | date }}
          <span class="text-success ml-1" style="display: inline;">✔</span>
        </ng-container>

        <!-- Else show baselineActivated with a pending marker -->
        <ng-template #showFollowup2Date>
          {{ user.follwoup2Date | date }}
          <mat-icon class="text-warning ml-1" style="display: inline;">schedule</mat-icon>
        </ng-template>
      </td>

      <td [ngClass]="{'bg-light-green': user.follwoup3Completed}">
        <!-- If baselineCompleted is available, show it with a checkmark -->
        <ng-container *ngIf="user.follwoup3Completed; else showFollowup3Date">
          {{ user.follwoup3Completed | date }}
          <span class="text-success ml-1" style="display: inline;">✔</span>
        </ng-container>

        <!-- Else show baselineActivated with a pending marker -->
        <ng-template #showFollowup3Date>
          {{ user.follwoup3Date | date }} 
          <mat-icon class="text-warning ml-1" style="display: inline;" >schedule</mat-icon>
        </ng-template>
      </td>

      <td *ngIf="user.rctGroup; else groupSelect">{{ user.rctGroup }}</td>
      

    
      <ng-template #groupSelect>
        <td>
          <select #group 
          [disabled]="user.groupConfirmed" 
          (change)="onRctArmChange(user, group.value)">
            <option  value="" disabled>Select group</option>
            <option value="intervention">Intervention</option>
            <option value="control">Control</option>
          </select>
        </td>
      </ng-template>
        
       <td><button [disabled]="user.groupConfirmed" flat-raised 
        btn btn-sm btn-success mx-1 (click)="onRctArmConfirm(user)">  {{ user.groupConfirmed ? 'Completed' : 'Confirm' }} 
            </button></td>
            <!--<td><button flat-raised class="btn btn-sm btn-danger mx-1" (click)="deletePatient(user)">Delete</button></td>-->
          </ng-container>
  
          </tr>
    </tbody>
</table> 
</div>
